<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label>Username:</label><input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Password:</label><input type="text" class="form-control">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>