<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">cac</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login">Login</a>
      <a class="nav-link"  routerLink="/register" routerLinkActivate="active">Register</a>
      <a class="nav-link" style="cursor:pointer"  (click)="objs.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>